---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Journal Articles &amp; Book Chapters</h2>
<ul>
{% for post in site.publications reversed %}
  {% if post.category != 'manuscripts' %}{% continue %}{% endif %}
  <li>
    {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}<br>
    {{ post.citation }}
  </li>
{% endfor %}
</ul>

<h2>Under Review</h2>
<ul>
{% for post in site.publications reversed %}
  {% if post.category != 'under_review' %}{% continue %}{% endif %}
  <li>
    {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}<br>
    {{ post.citation }}
  </li>
{% endfor %}
</ul>

<h2>Working Papers</h2>
<ul>
{% for post in site.publications reversed %}
  {% if post.category != 'working_papers' %}{% continue %}{% endif %}
  <li>
    <em>{{ post.title }}</em><br>
    {{ post.citation }}
  </li>
{% endfor %}
</ul>
