---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% if category[0] == 'working_papers' %}
        {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
        <div class="list__item">
          <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
            <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>
            {% if post.citation %}<p>{{ post.citation }}</p>{% endif %}
          </article>
        </div>
      {% else %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
